.board {
  text-align: center;
  margin-top: 40px;
}

.row {
  display: flex;
  justify-content: center;
}

.block {
  border: solid 2px;
  width: 80px;
  height: 80px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 20px;
  font-weight: bold;
}

.winnerText {
  color: green;
  font-size: 24px;
}